body{
    /* background-color: black; */
}

a{
    display: table;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    /* background-color: aqua; */
}

a:hover{
    background-color: rgb(228, 149, 22);
    color: rgb(138, 137, 150);
}
