body {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  background-image: url("../image/cg/EV_SP01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

img {
  max-height: 100%;
  max-width: 100%;
}

@color-sg-orange: rgb(247, 132, 8);
@color-sg-orange-trans: rgba(247, 132, 8, 0.6);
@color-sg-gray: rgb(50, 50, 50);
@color-sg-gray-trans: rgba(50, 50, 50, 0.6);
@color-white-trans: rgba(255, 255, 255, 0.7);
@anime-duration: 0.3s;
@demarcation: 768px;

.flex() {
  display: flex;
  align-items: center;
}

// 头部
.header {
  margin: 10px;
  .flex;
  justify-content: space-between;
  height: 200px;

  .logo {
    height: 100%;
  }

  // 路线选择按钮
  .clearlist {
    .flex;
    height: 100%;

    li {
      height: 100%;
      margin: 0 5px;
      .flex;
      position: relative;
      transition: transform 0.3s ease;
      cursor: pointer;

      span {
        display: none;
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }


      .mask1 {
        position: absolute;
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }

      .mask2 {
        position: absolute;
        opacity: 0;
        bottom: -10px;
        transition: @anime-duration;

        &.active {
          opacity: 1;
          bottom: 20px;
        }
      }
    }
  }
}

// 翻页按钮
.page-index {
  margin: 15px 10px;
  .flex;
  justify-content: right;

  li {
    width: 48px;
    height: 8px;
    background-color: @color-sg-gray-trans;
    border-radius: 10px;
    margin-right: 10px;
    background-clip: content-box;
    border: solid 1px @color-sg-orange-trans;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      background-color: @color-white-trans;
    }
  }
}

// 菜单
.menu {
  height: 650px;
  width: 100%;
  .flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;

  a {
    display: table;
    width: 218px;
    line-height: 38px;
    background-color: @color-sg-gray-trans;
    border-radius: 10px;
    border: solid 1px @color-sg-orange-trans;
    margin: 5px 10px;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: @color-sg-orange;
    text-shadow: 0px 0px 4px black;
    text-align: center;
    transition: @anime-duration;
  }
}

@media only screen {
  // 只在宽屏模式下生效
  @media (min-width: @demarcation) {
    .clearlist li:hover {
      transform: scale(1.1);

      .mask1 {
        opacity: 1;
      }

      .mask2 {
        opacity: 1;
        bottom: 20px;
      }
    }

    .page-index li:hover {
      background-color: @color-white-trans;
    }

    .menu a:hover {
      transform: scale(1.1);
      color: @color-white-trans;
      text-shadow: 0px 0px 4px @color-sg-orange;
    }
  }


  //竖屏模式
  @media (max-width: @demarcation) {
    body {
      background-image: url("../image/cg/EV_SP02.png");
      max-width: 500px;
      // .flex;
      // flex-direction: column;
    }



    .header {
      flex-direction: column;
      height: 300px;

      .logo {
        height: 200px;
      }

      .clearlist {
        // margin-top: 20px;

        li {
          img {
            display: none;
          }

          span {
            display: table;
            // .flex;
            width: 60px;
            line-height: 40px;
            background-color: @color-sg-gray-trans;
            // font-family: 'Roboto Mono', monospace;
            font-size: 20px;
            text-align: center;
            color: @color-white-trans;
            text-shadow: 0px 0px 4px @color-sg-orange;

            &.active {
              color: @color-sg-orange-trans;
              text-shadow: 0px 0px 4px black;
            }

          }
        }
      }
    }

    .page-index {
      display: none;
    }

    .menu {
      display: table;
      width: 100%;
      height: auto;
      // margin: 0;
      // flex-direction: row;
      // justify-content: space-around;
      // overflow: auto;
      // width: 480px;
      // margin: 0, auto;

      a {
        width: 100%;
        // margin: 0 auto;
        // font-family: sans-serif, monospace;
        // color: @color-sg-orange-trans;
        // text-shadow: 0px 0px 4px black;
      }


    }
  }
}