body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  background-image: url("../image/cg/EV_SP01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

@color-sg-orange: rgb(247, 132, 8);
@color-sg-orange-trans: rgba(247, 132, 8, 0.6);
@color-sg-gray: rgb(50, 50, 50);
@color-sg-gray-trans: rgba(50, 50, 50, 0.6);
@color-white-trans: rgba(255, 255, 255, 0.7);
@anime-duration: 0.3s;
@demarcation: 768px;

.flex() {
  display: flex;
  align-items: center;
}

// 头部
.header {
  // margin: 15px 10px;
  padding: 15px 10px;
  .flex;
  justify-content: space-between;
  max-height: 200px;
  height: 20vh;

  .logo {
    .flex;
    height: 100%;
    flex-shrink: 2;
  }

  // 路线选择按钮
  .clearlist {
    .flex;
    height: 100%;
    margin-left: 10px;
    // flex-shrink: 1;

    li {
      height: 100%;
      margin-right: 10px;
      .flex;
      position: relative;
      transition: transform 0.3s ease;
      cursor: pointer;

      &.active {
        & .mask1 {
          opacity: 1;
        }

        & .mask2 {
          opacity: 1;
          bottom: 10%;
        }

        & span {
          color: @color-sg-orange;
          text-shadow: 0px 0px 4px black;
        }
      }

      span {
        display: none;
      }

      &:last-of-type {
        margin-right: 0;
      }

      .mask1 {
        position: absolute;
        opacity: 0;
      }

      .mask2 {
        position: absolute;
        opacity: 0;
        bottom: -10%;
        transition: all @anime-duration;
      }
    }
  }
}

// 翻页按钮
.page-index {
  margin: 10px;
  .flex;
  justify-content: right;

  li {
    width: 48px;
    height: 8px;
    background-color: @color-sg-gray-trans;
    border-radius: 10px;
    margin-right: 10px;
    background-clip: content-box;
    border: solid 1px @color-sg-orange-trans;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      background-color: @color-white-trans;
    }
  }
}

// 菜单
.menu {
  height: 70vh;
  width: 100%;
  .flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;

  a {
    .flex;
    width: 218px;
    line-height: 38px;
    justify-content: center;
    text-align: center;
    background-color: @color-sg-gray-trans;
    border-radius: 10px;
    border: solid 1px @color-sg-orange-trans;
    margin: 5px 10px;
    font-size: 20px;
    letter-spacing: 2px;
    color: @color-sg-orange;
    text-shadow: 0px 0px 4px black;
    transition: @anime-duration;
  }
}

@media only screen {
  // 只在宽屏模式下生效 - 鼠标动画
  @media (min-width: @demarcation) {
    .clearlist li:hover {
      transform: scale(1.1);

      .mask1 {
        opacity: 1;
      }

      .mask2 {
        opacity: 1;
        bottom: 10%;
      }
    }

    .page-index li:hover {
      background-color: @color-white-trans;
    }

    .menu a:hover {
      transform: scale(1.1);
      color: @color-white-trans;
      text-shadow: 0px 0px 4px @color-sg-orange;
    }
  }

  // 竖屏模式
  @media (max-width: @demarcation) {
    body {
      background-image: url("../image/cg/EV_SP02.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }

    // @keyframes anime-header-scroll-up {
    //   0% {
    //     background-color: transparent;
    //   }

    //   60% {
    //     background-color: @color-sg-gray-trans;
    //   }

    //   100% {
    //     background-color: @color-sg-gray;
    //   }
    // }

    // @-webkit-keyframes anime-header-scroll-up {
    //   0% {
    //     background-color: transparent;
    //   }

    //   60% {
    //     background-color: @color-sg-gray-trans;
    //   }

    //   100% {
    //     background-color: @color-sg-gray;
    //   }
    // }

    .header {
      // background-color: @color-sg-gray;
      // backdrop-filter: blur(3px);
      height: 120px;
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      // animation: anime-header-scroll-up 5s infinite;
      /*Safari 和 Chrome:*/
      // -webkit-animation: anime-header-scroll-up 5s infinite;

      .clearlist {
        width: 60%;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
          // background-color: @color-sg-gray-trans;
          width: 30%;
          height: 45%;
          margin: 0px;
          border: solid 1px @color-sg-orange-trans;
          border-radius: 10px;
          justify-content: center;

          img {
            display: none;
          }

          span {
            display: block;
            text-align: center;
            font-size: 18px;
            color: @color-white-trans;
            text-shadow: 0px 0px 4px @color-sg-orange;
          }
        }
      }
    }

    .page-index {
      display: none;
    }

    .menu {
      display: table;
      margin-top: 150px;

      a {
        width: 90vw;
        margin: 5px auto;
      }
    }
  }
}