body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  background-image: url("../image/cg/EV_SP01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

@color-sg-orange: rgb(247, 132, 8);
@color-sg-orange-trans: rgba(247, 132, 8, 0.6);
@color-sg-gray: rgb(50, 50, 50);
@color-sg-gray-trans: rgba(50, 50, 50, 0.6);
@color-white-trans: rgba(255, 255, 255, 0.7);
@anime-duration: 0.3s;
@demarcation: 768px;

.flex() {
  display: flex;
  align-items: center;
}

// 头部
.header {
  margin: 2vh 1vh;
  .flex;
  justify-content: space-between;
  height: 20vh;
  // height: 200px;

  .logo {
    .flex;
    height: 100%;
  }

  // 路线选择按钮
  .clearlist {
    .flex;
    height: 100%;

    li {
      height: 100%;
      margin-right: 10px;
      .flex;
      position: relative;
      transition: transform 0.3s ease;
      cursor: pointer;

      span {
        display: none;
      }

      &:last-of-type {
        margin-right: 0;
      }

      .mask1 {
        position: absolute;
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }

      .mask2 {
        position: absolute;
        opacity: 0;
        bottom: -10px;
        transition: @anime-duration;

        &.active {
          opacity: 1;
          bottom: 20px;
        }
      }
    }
  }
}

// 翻页按钮
.page-index {
  margin: 1vh;
  .flex;
  justify-content: right;

  li {
    width: 48px;
    height: 8px;
    background-color: @color-sg-gray-trans;
    border-radius: 10px;
    margin-right: 10px;
    background-clip: content-box;
    border: solid 1px @color-sg-orange-trans;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      background-color: @color-white-trans;
    }
  }
}

// 菜单
.menu {
  height: 70vh;
  width: 100%;
  .flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;

  a {
    .flex;
    width: 218px;
    line-height: 38px;
    justify-content: center;
    text-align: center;
    background-color: @color-sg-gray-trans;
    border-radius: 10px;
    border: solid 1px @color-sg-orange-trans;
    margin: 5px 10px;
    font-size: 20px;
    letter-spacing: 2px;
    color: @color-sg-orange;
    text-shadow: 0px 0px 4px black;
    transition: @anime-duration;
  }
}

@media only screen {
  // 只在宽屏模式下生效 - 鼠标动画
  @media (min-width: @demarcation) {
    .clearlist li:hover {
      transform: scale(1.1);

      .mask1 {
        opacity: 1;
      }

      .mask2 {
        opacity: 1;
        bottom: 20px;
      }
    }

    .page-index li:hover {
      background-color: @color-white-trans;
    }

    .menu a:hover {
      transform: scale(1.1);
      color: @color-white-trans;
      text-shadow: 0px 0px 4px @color-sg-orange;
    }
  }

  // 竖屏模式
  @media (max-width: @demarcation) {
    body {
      background-image: url("../image/cg/EV_SP02.png");
      width: 90vw;
    }

    .header {
      flex-direction: column;
      width: 90vw;
      height: 30vh;
      position: fixed;
      top: 2vh;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0 auto;
      // background-color: #bfa;
      z-index: 1;

      .logo {
        height: 75%;
      }

      .clearlist {
        justify-content: space-between;
        width: 100%;
        margin-top: 1vh;
        li {
          width: 15%;
          img {
            display: none;
          }

          span {
            .flex;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: @color-sg-gray-trans;
            border: solid 1px @color-sg-orange-trans;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            color: @color-white-trans;
            text-shadow: 0px 0px 4px @color-sg-orange;

            &.active {
              color: @color-sg-orange;
              text-shadow: 0px 0px 4px black;
            }
          }
        }
      }
    }

    .page-index {
      display: none;
    }

    .menu {
      display: table;
      position: relative;
      top: 34vh;
      height: 60vh;
      overflow-y: auto;

      a {
        width: 90vw;
        margin: 5px auto;
      }


    }
  }
}